<!DOCTYPE html>
<html>
<head>
	<title>Indonesia Game Portal</title>
	<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Header section -->
<header>
	<div class="wrapper">
		<nav class="menu">
			<div class="head-1">
				<div class="logo col-2">
					<img alt="non" src="assets/img/icon-logo.png" id="menu-toggle" data-toggle="1">
					<a href=".">
						<span>INDONESIA<br>GAME PORTAL</span>
					</a>
				</div>
				<div class="right col-2">
					<div class="search-contain">
						<a href="#" class="btn bg-white user search active">
							<img alt="non" src="assets/img/search.png" class="icon">
						</a>
							<form action="#">
								<input type="text" placeholder="search">
								<button type="submit" class="circle">
									<img alt="non" src="assets/img/search.png" class="icon">
								</button>
							</form>						
					</div>
					<div class="user-contain">
						<a href="register.html" class="btn bg-blue-2 user">
							<img alt="non" src="assets/img/person.png" class="icon">
							Rinekso
						</a>						
					</div>
				</div>
			</div>
			<div class="head-2">
				<ul class="active">
					<li>
						<a href="#banner" class="bg-blue circle">
							<img alt="non" src="assets/img/home.png" class="icon">
							<span>Home</span>
						</a>
					</li>
					<li>
						<a href="#gallery" class="bg-green circle">
							<img alt="non" src="assets/img/gallery.png" class="icon">
							<span>Gallery</span>
						</a>
					</li>
					<li>
						<a href="#games" class="bg-yellow circle">
							<img alt="non" src="assets/img/trophy.png" class="icon">
							<span>Our Game</span>
						</a>
					</li>
					<li>
						<a href="#info" class="bg-red circle">
							<img alt="non" src="assets/img/about.png" class="icon">
							<span>About Us</span>
						</a>
					</li>
					<li class="mobile">
						<a href="register.html" class="bg-blue-2 circle">
							<img alt="non" src="assets/img/person.png" class="icon">
							<span>Register</span>
						</a>
					</li>
				</ul>					
			</div>
		</nav>
	</div>
	<div id="banner">
		<canvas id="dragon" class="dragon" width="256" height="256"></canvas>
		<canvas id="tetris" width="1000" height="1000"></canvas>
		<img alt="non" src="assets/img/banner.png" class="banner">
		<div class="col-2 decor">
			<a href="#" class="btn bg-blue">Play<br><small>Endless Runner</small></a>
		</div>
		<div class="col-2 decor right">
			<a href="#" class="btn bg-red">Play<br><small>Tetris</small></a>
		</div>
	</div>
</header>
<!-- end header section -->
<!-- gallery -->
<div id="gallery">
	<div class="gallery gallery-1 big">
		<h3>Other tetris gameplay</h3>
		<video controls autoplay muted>
			<source src="assets/gallery/tetris-gameplay.mp4" type="video/mp4">
		</video>
	</div>
	<div class="gallery gallery-2">
		<a href="assets/gallery/gallery1.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery1.png">
		</a>
	</div>
	<div class="gallery gallery-3">
		<a href="assets/gallery/gallery2.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery2.png">
		</a>
	</div>
	<div class="gallery gallery-4">
		<a href="assets/gallery/gallery3.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery3.png">
		</a>
	</div>
	<div class="gallery gallery-5">
		<a href="assets/gallery/gallery1.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery1.png">
		</a>
	</div>
	<div class="gallery gallery-6">
		<a href="assets/gallery/gallery2.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery2.png">
		</a>
	</div>
	<div class="gallery gallery-7">
		<a href="assets/gallery/gallery3.png" target="_blank">
			<img alt="gallery" src="assets/gallery/gallery3.png">
		</a>
	</div>
</div>
<!-- end gallery -->
<!-- Our games -->
<div id="games">
	<h1>THIS IS OUR GAMES</h1>
	<img alt="arrow" src="assets/img/arrow.png" class="arrow">
	<div class="space"></div>
	<section id="endless">
		<h2 class="endless">ENDLESS RUNNER</h2>
		<img alt="endless runner background" src="assets/img/race.png" class="background">
		<div class="text text-1">
			<b>Challenging Game</b><br>
			Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
		</div>
		<div class="text text-2">
			<b>Attractive Game</b><br>
			Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
		</div>
		<div class="text text-3">
			<b>Be The Number One</b><br>
			Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
		</div>
		<div class="decor">
			<a href="#" class="btn bg-blue">Play<br><small>Endless Runner</small></a>
		</div>
	</section>
	<section id="tetris-game">
		<h2>TETRIS</h2>
		<div class="decor">
			<a href="#" class="btn bg-red">Play<br><small>Tetris</small></a>
		</div>
		<div class="text text-1">
			<b>Game for geniusses</b>
		</div>
		<div class="text text-2">
			<b>Intelligent game</b>
		</div>
		<div class="text text-3">
			<b>Be The Number One</b>
		</div>
		<div class="decor">
			<a href="#" class="btn bg-red">Play<br><small>Tetris</small></a>
		</div>
	</section>
</div>
<footer>
	<div id="info">
		<div class="wrapper">
			<div class="col-2">
				<h2>Indonesia Game Portal</h2>
				<p>
				Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
				</p>
				<p class="sitemap"><br><a href=".">Home</a> - <a href="#gallery">Gallery</a> - <a href="#info">About</a> - <a href="register.html">Register</a></p>
			</div>
			<div class="col-2">
				<h2>News Letter</h2>
				<p>
					Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
				</p>
				<form class="subscribe">
					<input type="email" placeholder="Your Email">
					<button type="submit" class="bg-blue">Subscribe</button>
				</form>
				<h2>Follow Us</h2>
				<div class="follow">
					<a href="http://www.facebook.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/facebook.png" alt="facebook">
					</a>
					<a href="http://www.youtube.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/youtube.png" alt="youtube">
					</a>
					<a href="http://www.appstore.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/app_store.png" alt="app_store">
					</a>
					<a href="http://www.blogger.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/blogger.png" alt="blogger">
					</a>
					<a href="http://www.twitter.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/twitter.png" alt="twitter">
					</a>
					<a href="http://www.yahoo.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/yahoo.png" alt="yahoo">
					</a>
					<a href="http://www.picasa.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/picasa.png" alt="picasa">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="wrapper">
			<a href="#">privacy</a> - <a href="#">policy</a> - contact : 0887348473832
			<span class="right">Designed by : Simson Rinekso</span>
		</div>
	</div>
</footer>
<!-- javascript -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/default.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<script type="text/javascript" src="assets/js/dragon.js"></script>
<script type="text/javascript" src="assets/js/tetris.js"></script>
</body>
</html>