<link rel="stylesheet" type="text/css" href="assets/css/game.css">
<!-- end header section -->
<div class="container">
	<div id="paper">
		<div class="endless-runner-game-container">
			<div class="button" id="game-over">
				<h1>Your Score : <span></span></h1>
				<a href="#" id="restart" data-play='1' class="btn bg-blue">Play</a>
			</div>
			<canvas id="endless-runner-game" width="800" height="480"></canvas>
		</div>
		<div class="leader">
			<h2>Leader Board</h2>
			<table class="table">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="res in result">
						<td>{{$index+1}}</td>
						<td>{{res.name}}</td>
						<td>{{res.score}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
