<!DOCTYPE html>
<html>
<head>
	<title>Indonesia Game Portal</title>
	<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	<link rel="stylesheet" type="text/css" href="assets/css/register.css">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!-- Header section -->
<header>
	<div class="wrapper">
		<nav class="menu">
			<div class="head-1">
				<div class="logo col-2">
					<img alt="non" src="assets/img/icon-logo.png" id="menu-toggle" data-toggle="1">
					<a href=".">
						<span>INDONESIA<br>GAME PORTAL</span>
					</a>
				</div>
				<div class="right col-2">
					<div class="search-contain">
						<a href="#" class="btn bg-white user search active">
							<img alt="non" src="assets/img/search.png" class="icon">
						</a>
							<form action="#">
								<input type="text" placeholder="search">
								<button type="submit" class="circle">
									<img alt="non" src="assets/img/search.png" class="icon">
								</button>
							</form>						
					</div>
				</div>
			</div>
			<div class="head-2">
				<ul class="active">
					<li>
						<a href="#banner" class="bg-blue circle">
							<img alt="non" src="assets/img/home.png" class="icon">
							<span>Home</span>
						</a>
					</li>
					<li>
						<a href="#gallery" class="bg-green circle">
							<img alt="non" src="assets/img/gallery.png" class="icon">
							<span>Gallery</span>
						</a>
					</li>
					<li>
						<a href="#games" class="bg-yellow circle">
							<img alt="non" src="assets/img/trophy.png" class="icon">
							<span>Our Game</span>
						</a>
					</li>
					<li>
						<a href="#info" class="bg-red circle">
							<img alt="non" src="assets/img/about.png" class="icon">
							<span>About Us</span>
						</a>
					</li>
					<li class="mobile">
						<a href="register.html" class="bg-blue-2 circle">
							<img alt="non" src="assets/img/person.png" class="icon">
							<span>Register</span>
						</a>
					</li>
				</ul>					
			</div>
		</nav>
	</div>

</header>
<!-- end header section -->
<div class="container">
	<div class="wrapper">
		<div class="part bg-green active register">
			<h2>Register</h2>
			<div class="notif">
				<div class="bg-red circle">
					<img alt="non" src="assets/img/about.png" class="icon">
				</div>			
				<span>Please, fill your full name</span>
			</div>
			<form>
				<div class="col-1">
					<input type="text" placeholder="Full Name" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="text" placeholder="Username" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="email" placeholder="Email" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="password" placeholder="Password" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="text" id="label-picture" placeholder="Profile Picture" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="file" id="picture" class="form-control hide" required class="form-control">				
				</div>
				<div class="col-2">
					<input type="date" placeholder="Date of Birth (DD/MM/YYYY)" class="form-control">
				</div>
				<div class="col-2">
					<input type="text" placeholder="Phone number" class="form-control">
				</div>
				<div class="col-1">
					<button class="btn bg-blue right">Submit</button>
				</div>
			</form>
		</div>
		<div class="part bg-blue login">
			<h2>Login</h2>
				<div class="col-1">
					<input type="text" placeholder="Username" required class="form-control">				
				</div>
				<div class="col-1">
					<input type="password" placeholder="Password" required class="form-control">				
				</div>
				<div class="col-1">
					<button class="btn bg-green right">Submit</button>
				</div>
		</div>
	</div>	
</div>
<footer>
	<div id="info">
		<div class="wrapper">
			<div class="col-2">
				<h2>Indonesia Game Portal</h2>
				<p>
				Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
				</p>
				<p class="sitemap"><br><a href=".">Home</a> - <a href="#gallery">Gallery</a> - <a href="#info">About</a> - <a href="register.html">Register</a></p>
			</div>
			<div class="col-2">
				<h2>News Letter</h2>
				<p>
					Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. 
				</p>
				<form class="subscribe">
					<input type="email" placeholder="Your Email">
					<button type="submit" class="bg-blue">Subscribe</button>
				</form>
				<h2>Follow Us</h2>
				<div class="follow">
					<a href="http://www.facebook.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/facebook.png" alt="facebook">
					</a>
					<a href="http://www.youtube.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/youtube.png" alt="youtube">
					</a>
					<a href="http://www.appstore.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/app_store.png" alt="app_store">
					</a>
					<a href="http://www.blogger.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/blogger.png" alt="blogger">
					</a>
					<a href="http://www.twitter.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/twitter.png" alt="twitter">
					</a>
					<a href="http://www.yahoo.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/yahoo.png" alt="yahoo">
					</a>
					<a href="http://www.picasa.com" target="_blank" class="icon">
						<img src="assets/img/sosial_icon/picasa.png" alt="picasa">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="wrapper">
			<a href="#">privacy</a> - <a href="#">policy</a> - contact : 0887348473832
			<span class="right">Designed by : Simson Rinekso</span>
		</div>
	</div>
</footer>
<!-- javascript -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/default.js"></script>
<script type="text/javascript" src="assets/js/register.js"></script>
</body>
</html>