@font-face{
	font-family: "source-sans-extralight";
	src:url("../font/SourceSansPro-ExtraLight.ttf");
}
@font-face{
	font-family: "source-sans-light";
	src:url("../font/SourceSansPro-Light.ttf");
}
@font-face{
	font-family: "source-sans-regular";
	src:url("../font/SourceSansPro-Regular.ttf");
}

body{
	background: #555 !important;
	font-family: "source-sans-light" !important;
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 90%;
	margin: auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
/*column*/
.col-2{
	position: relative;
	float: left;
	width: 50%;
}
.col-3{
	position: relative;
	float: left;
	width: 33.33%;
}
.col-4{
	position: relative;
	float: left;
	width: 25%;
}
.col-1{
	position: relative;
	float: left;
	width: 100%;
}
/*form default*/
input.form-control{
	background: #fafafa;
	padding: 10px 20px;
	border-radius: 25px;
	box-shadow: none;
	border: none;
	width: 100%;
	box-sizing: border-box;
}
input.form-control:focus{
	background: #fff;
	border: none;
	outline: none;
	box-shadow: 2px 1px 2px rgba(0,0,0,0.5) inset;
}
a{
	text-decoration: none !important;
}
.btn{
	border-radius: 25px !important;
	padding: 5px 10px;
	font-weight: bold !important;
	color: #fff;
}
.circle{
	border-radius: 50%;
}
/*header*/
header{}
/*menu*/
nav{
	margin-top: 50px;
	position: fixed;
	width: 90%;
	z-index: 9999;
}
.menu ul{
	opacity: 0;
	visibility: hidden;
}
.menu ul.active{
	opacity: 1;
	visibility: visible;
}
.menu ul li{
	display: block;
}
.menu .icon{
	width: 25px;
	height: auto;
}
/*head1*/
.head-1{
	display: block;
	height: 50px;
}
/*Logo*/
.logo{
	display: block;
	margin: 0;
}
.logo span{
	color: #fff;
	font-weight: bolder;
	display: block;
	float: left;
	font-size: 18px;
	margin-top: 5px;
}
.logo img{
	display: block;
	float: left;
	margin-right: 20px;
	width: 60px;
	cursor: pointer;
}
/*right menu*/
.menu .right{
	text-align: right;
	padding-top: 10px;
}
.user{
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	padding-left: 50px;
	width: auto;
	position: relative;
}
.user-contain.active{
	width: 50%;
}
.user-contain.active .user{
	margin-right: 20px;
}
.user .icon{
	margin-left: -40px;
	margin-top: 0px;
	position: absolute;
}
.search{
	padding-left: 25px;
	margin-left: 20px;
}
.search-contain,.user-contain{
	float: right;
	width: auto;
}
.search-contain.active{
	width: 50%;
	margin-top: -10px;
}
.search-contain.active .search{
	display: none;
}
.search-contain form button[type='submit']{
	width: 43px;
	height: 43px;
	border: none;
	right: 0;
	background: #fff;
	outline: none;
	position: absolute;
}
.search-contain form{
	padding-right: 21.5px;
	width: 100%;
	box-sizing: border-box;
}
.search-contain form input[type="text"]{
	padding: 10px 0px 10px 20px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	font-size: 20px;
	float: left;
	border-radius: 25px 0px 0px 25px;
	border: none;
	outline: none;
}
.search-contain form{
	display: none;
}
.search-contain.active form{
	display: block;
}
.search .icon{
	margin-left: -15px;
}
/*head2*/
.head-2{
	display: block;
	width: 50px;
	margin-left: 5px;
	text-align: center;
}
.head-2 ul{
	padding: 0;
	width: auto;
	transition: all ease-in-out 0.5s;
}
.head-2 ul.active li a{
	margin-top: 10px;
}
.head-2 ul li a{
	display: block;
	width: auto;
	list-style: none;
	text-align: center;
	padding: 0;
	margin-top: -100%;
	width: 50px;
	height: 50px;
	transition: all ease-in-out 0.5s;
}
.head-2 ul li:hover span{
	display: block;
}
.head-2 ul li span{
	display: none;
	position: absolute;
	margin-left: 60px;
	margin-top: -30px;
	font-size: 24px;
	color: #fff;
}
.head-2 .icon{
	margin-top: 12px;
}
.mobile{
	display: none !important;
}
/*Banner*/
.banner{
	width: 100%;
	height: auto;
	position: relative;
	z-index: 4;
}
#dragon {
	position: absolute;
	width: 35vw;
	height: auto;
	min-width: 256px;
	min-height: 256px;
	margin-left: -35vw;
	margin-top: -10vh;
	z-index: 5;
	/*border: 1px #000 solid;*/
	transition: all ease-in-out 0.3s;
}
#dragon.active{
	margin-left: 15vw;
	margin-top: 10vh;
}
#tetris{
	width: 50%;
	height: 100%;
	/*border: 1px solid #000;*/
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.decor{
	text-align: center;
	position: absolute;
	top: 0;
	z-index: 10;
}
.decor.right{
	right: 0;
}
.decor a{
	display: block;
	width: 200px;
	text-align: center;
	margin:auto;
	margin-top: 40%;
	color: #fff;
	font-size: 28px;
	line-height: 24px;
	border-radius: 40px !important;
	transition: all 0.2s;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}
.decor a:hover{
	transform: scale(1.2);
}
.decor a small{
	font-size: 18px;
}

/*gallery*/
#gallery{
	position: relative;
	margin-top: -100px;
	z-index: 100;
}
.gallery{
	position: absolute;
	box-shadow: 0px 0px 200px 25px rgba(0,0,0,0.5);
	width: 250px;
	height: 100px;
}
.gallery video, .gallery img{
	width: 100%;
	height: auto;
}
.gallery h3{
	position: absolute;
	width: 90%;
	margin: 0;
	display: block;
	font-size: 28px;
	text-align: left;
	background: rgba(0,0,0,0.5);
	padding: 10px 5%;
	color: #fff;
	transition: all ease-in-out 0.5s;
	transition-delay: 2s;
	opacity: 1;
}
.gallery:hover h3{
	opacity: 0;
}
/*desktop formation*/
.big{
	width: 50vw !important;
	height: auto !important;
	margin-left: 25vw;
	z-index: 200;
}
.gallery-2{
	left: 15vw;
	margin-top: 50px;
	z-index: 150;
}
.gallery-3{
	left: 10vw;
	margin-top: 150px;
	z-index: 160;
}
.gallery-4{
	left: 15vw;
	margin-top: 250px;
	z-index: 150;
}
.gallery-5{
	right: 15vw;
	margin-top: 50px;
	z-index: 150;
}
.gallery-6{
	right: 10vw;
	margin-top: 150px;
	z-index: 160;
}
.gallery-7{
	right: 15vw;
	margin-top: 250px;
	z-index: 150;
}

/*games*/
#games{
	width: 100%;
	height: auto;
	margin-top: 700px;
	color: #fff;
	text-align: center;
}
#games h1{
	font-family: "source-sans-regular";
	font-size: 30px;
	font-weight: bold;
}
#games .space{
	height: 200px;
	width: 100px;
}
#games .arrow{
	width: 50px;
	height: auto;
	margin: auto;
}
#games section{
	width: 100%;
	overflow: hidden;
}
#games .decor a{
	margin:0;
}
#games h2{
	position: relative;
	margin: auto;
	margin-bottom: -58px;
	font-size: 30px;
	display: block;
	width: 300px;
	text-align: center;
	padding: 10px 20px;
}
/*Endless runner*/
#endless{
	height: 500vh;
	background: url("../img/race.png") no-repeat bottom right;
	background-size: auto 100vh; 
}
.endless{
	background: rgba(0,0,0,0.5);
}
#endless .background{
	height: 100vh;
	width: auto;
}
#endless.active .background{
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
}
#endless.active{
	z-index: 2;
	position: relative;
}
#endless.active h2, #tetris-game.active h2{
	position: fixed;
	top: 0;
	margin: auto;
	z-index: 5;
	left: 0;
	right: 0;
}
#dragon.run-mode{
	position: fixed;
	margin: 0 !important;
	top: 0;
}
#dragon.run-mode.down{
	top: 40vh;
}
/*endless runner text*/
.text{
	position: relative;
	background: rgba(0,0,0,0.5);
	z-index: 5;
	width: 25vw;
	font-size: 24px;
	padding: 10px;
}
.text b{
	font-size: 30px;
}
#endless.active .text{
	position: fixed;
	display: block;
	left: 0;
}
#games .decor{
	display: none;
}
#endless.active .decor{
	position: fixed;
	right: 50px;
	top: 45%;
	display: block;
}
#endless .text-1,#endless .text-3{
	bottom: 20%;
}
#endless .text-2{
	top: 20%;
}
/*tetris*/
#tetris-game{
	width: 100%;
	z-index: 0;
	height: 300vh !important;
}
#tetris.game{
	right: auto;
	position: fixed;
	left: 0;
	z-index: -5;
	height: 100vh !important;
}
#tetris-game.active .decor{
	display: block;
	position: fixed;
	z-index: -5;
	top: 45vh;
	left: 25%;
}
#tetris-game.active .text{
	display: block;
	background: none;
	left: 62.5vw;
}
#tetris-game .text-1{
	top: 20%;
}
#tetris-game .text-2{
	top: 50%;
}
#tetris-game .text-3{
	top: 70%;
}
footer{
	text-align: center;
	font-weight: lighter;
	bottom: 0;
	width: 100%;
	color: #555;
	z-index: 100;
	position: relative;
	overflow: auto;
}
footer h2{
	margin: 10px 0;
}
footer p{
	width: 90%;
	font-size: 18px;
	margin: auto;
}
footer #info{
	background: #d8dde3;
	padding: 50px 0;
	display: block;
	overflow: auto;
}
footer .subscribe{
	width: 90%;
	margin: 10px auto;
	overflow: auto;
}
footer .icon{
	display: block-inline;
	margin: auto;
}
footer .subscribe input[type='email']{
	width: 65%;
	padding: 15px 2.5%;
	font-size: 16px;
	border: none;
	background: #fff;
	outline: none;
	float: left;
}
footer .subscribe button[type='submit']{
	width: 25%;
	color: #fff;
	padding: 15px 2.5%;
	float: left;
	border: none;
	outline: none;
	font-size: 16px;
}
footer .bottom{
	background: #585858;
	width: 100%;
	overflow: auto;
	color: #fff;
	padding: 10px 0;
	text-align: left;
}
footer .bottom .right{
	display: block;
	float: right;
}
footer .bottom a{
	color: #fff;
}
.sitemap, .sitemap a{
	color: #5a78cb;
}
.notif{
	width: 100%;
	padding: 20px 0px;
	margin-bottom: 10px;
}
.notif .circle{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
}
.notif .circle img{
	width: 30px;
	height: auto;
	margin: 10px 0px 0px 10px;
}
.notif span{
	font-size: 24px;
}
.bg-yellow{
	background-color: #f2d848;
}
.bg-blue{
	background-color: #5a78cb;
}
.bg-blue-2{
	background-color: #5b92a3;
}
.bg-green{
	background-color: #47b75a;
}
.bg-red{
	background-color: #d64251;
}
.bg-white{
	background-color: #fff;
}
.btn-toggle{
	position: absolute;
	font-size: 30px;
	color: #fff !important;
	margin-left: 15vw;
	left: 20px;
	padding-left: 30px;
	margin-top: 30px;
	z-index: 99;
}
.btn-toggle:hover,.btn-toggle:active,.btn-toggle:visited{
	color: #eee !important;
	outline: none !important;
}
